@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    --font_padrao: 'Inter', sans-serif;
    --font_secundaria:'Inter', sans-serif;
    --color: #8E2424;
    --color2: #667085;
    --fpeso: 500;
}
#corpo {
    width: 100vw;
    height: 100vw;
    flex-direction: column;
}

#barra_nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: var(--font_padrao);
    font-weight: var(--fpeso);
}
.logo {
    font-size: 1vw;
    padding-left: 5rem;
}
.lista{
    list-style: none;
    font-size: 1vw;   
}
.lista li {
    display: inline;
    padding: 1vw;
}
.acesso {
    list-style: none;
    padding-right: 4.9rem;
}
.acesso li{
    display: inline;
}
.entrar {
    font-size: 1rem;
    padding-right:0.75rem;
}
.cadastrar {
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid var(--color);
    background: var(--color);
    padding: 0.625rem 1.125rem;
}
 #cabecalho {
    text-align: center;
    padding: 6rem;

 }
 .titulo {
    color: var(--color);
    font-family: var(--font_padrao);
    font-size: 2vw;
    font-weight: 600;
 }
 .subtitulo {
    font-family: var(--font_padrao);
    font-size: 3vw;
    font-weight: 600;
    line-height: 3.75rem;
    color: #101828;
 }
 .texto {
    color: var(--color2);
    font-family: var(--font_padrao);
    font-size: 1.484vw;
    font-weight: 400;
    text-align: center;
 }
 #section {
    padding: 6em;
    gap: 2em;
    display: flex;
}
 .secao_titulo {
    font-size: 4vw;
    font-family: var(--font_secundaria);
    color: var(--color);
 }
 .secao_subtitulo {
    font-size: 1vw;
    font-family: var(--font_padrao);

 }
 .secao_texto {
    font-size: 1vw;
    font-family: var(--font_padrao);
    color: #667085;
 }
 #vagas {
    padding: 6em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
 }
 .titulo2 {
    width: 10vw;
    margin-left: 26em;
    color: var(--color);
    font-family: var(--font_padrao);
    font-size: 1.4vw;
    border-radius: 16px;
    background: rgba(142, 36, 36, 0.05);
    padding: 0.25em 0.75em;

 }
 .subtitulo2 {
    font-family: var(--font_padrao);
    font-size: 3vw;
    font-weight: 600;
 }
 .texto2 {
    font-family: var(--font_padrao);
    color: #667085;
    font-size: 1.5vw;
    font-weight: 400;
 }
